body
{
  color: white;
  background: rgb(66, 146, 63);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
.lbl-design {
    font-size: 25px;
    color: darkblue;
    font-family:'Times New Roman', Times, serif;
    border-radius: 15%;
    background-color: rgb(228, 196, 15);
}